@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Donegal+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

.movie-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #003366;
  color: white;
  padding: 20px;
  border-radius: 10px;
}

.movie-info {
  flex: 1;
  padding-right: 20px;
}

.movie-info h1 {
  font-family: 'DM Mono', monospace;
  font-size: 36px;
  margin-bottom: 10px;
}

.movie-info p {
  font-family: 'DM Sans', sans-serif;
  margin-bottom: 10px;
}

.movie-actions {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-left: 90px;
}

.watch-trailer {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #4B5A84;
  color: white;
  cursor: pointer;
  font-family: 'DM Sans', sans-serif;
}

.ticket {
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  padding: 10px 20px;
  border-radius: 5px;
  font-family: 'DM Sans', sans-serif;
}

.movie-poster {
  flex: 1;
  display: flex;
  justify-content: center;
  position: relative;
}

.poster-container {
  position: relative;
  max-width: 100%;
  border-radius: 10px;
}

.movie-poster img {
  max-width: 100%;
  border-radius: 10px;
  transition: filter 0.3s ease;
}

.movie-details-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 51, 102, 0.8);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
}

.poster-container:hover img {
  filter: blur(5px);
}

.poster-container:hover .movie-details-overlay {
  opacity: 1;
}

@media (max-width: 768px) {
  .movie-details {
    flex-direction: column;
  }

  .movie-info {
    padding-right: 7;
    text-align: center;
  }

  .movie-poster img {
    max-width: 80%;
  }
}

@media (max-width: 480px) {
  .movie-info h1 {
    font-size: 28px;
  }

  .movie-poster img {
    max-width: 100%;
  }
}

.ticketImg {
  width: 170px;
  height: 90px;
  margin-right: 10px;
}
