@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Donegal+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

.stream {
  text-align: center;
  background-color: #003366;
  padding: 20px;
}

.stream-container {
  color: white;
}

h1 {
  font-family: 'DM Mono', monospace;
  color: #fff;
  padding: 20px;
  font-size: 50px;
  font-weight: 400;
}

hr {
  visibility: hidden;
}

.movie-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.movie {
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.movie img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.single-movie .movie img {
  max-width: 65%;
  height: auto;
}

.single-movie {
  margin-bottom: 12%;
}

.movie h2 {
  font-family: 'Donegal One', serif;
  color: #fff;
  font-weight: 100;
  padding-top: 10px;
}

.movie p {
  padding-top: 10px;
  color: #ccc;
  font-family: 'DM Sans', sans-serif;
}

.buttons {
  margin-top: 10px;
}

.watch-trailer,
.buy-tickets {
  padding: 10px 20px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.watch-trailer {
  background-color: #4B5A84;
  color: #fff;
}

.buy-tickets {
  background-color: #EA1313;
  color: #fff;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: white;
  padding: 20px;
  max-width: 720px;
  min-height: 350px;
  border-radius: 10px;
  position: relative;
  z-index: 1001;
  outline: none;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.modal-content .trailer-video {
  width: 100%;
  max-width: 720px;
  min-height: 100%; 
  border-radius: 10px;
}

/* Responsive styles */

@media (max-width: 768px) {
  h1 {
    font-size: 36px;
    padding: 15px;
  }

  .movie-container {
    flex-direction: column;
    align-items: center;
  }

  .movie {
    width: 90%;
    max-width: 400px;
  }

  .buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .watch-trailer,
  .buy-tickets {
    width: 80%;
    margin: 5px 0;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 28px;
    padding: 10px;
  }

  hr {
    visibility: visible;
  }

  .movie {
    width: 100%;
    max-width: none;
  }

  .buttons {
    width: 100%;
  }

  .watch-trailer,
  .buy-tickets {
    width: 100%;
    margin: 5px 0;
  }
}