.payment-container {
  background-color: #f2f2f2;
  padding: 40px;
  border-radius: 10px;
}

.payment-title {
  color: red;
  margin-bottom: 20px;
}

.payment-methods {
  display: flex;
  gap: 10px; /* Reduced the gap to make the layout more compact */
  margin-bottom: 20px;
}

.payment-logo {
  width: 40px; /* Reduced the width */
  height: 30px; /* Reduced the height */
}

.confirm-payment-btn {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
}

.payment-image img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
