.admin-movie-management h2 {
  font-size: 30px;
  margin-top: 20px;
  text-align: center;
  color: #20448A;
}

.admin-movie-container h2{
  font-size: 30px;
  margin-top: 20px;
  text-align: center;
  color: #20448A;
}

.movie-management-container {
  display: flex;
  justify-content: left;
  align-items: flex-start;
  gap: 60px;
  margin: 30px 100px;
}

.movie-management-details {
  width: 600px;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.movie-management-container .movie-card {
  position: relative;
  height: 500px; 
  max-width: 800px;
  top: 4rem;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.movie-card img {
  width: 100%;
  height: 100%;
  object-fit: fill;
  border-radius: 20px;
}

.upload-image {
  margin-top: 20px;
}

.details-form .ant-form-item {
  margin-bottom: 15px;
}

.form-buttons {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}

.btn-movie-management {
  width: 100%;
  margin-top: 10px;
}

.movie-profile-management{
  width: 600px;
  background-color: #fff;
  padding:20px;
  margin-top: 4rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.movie-profile-card{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 150px;
  margin-top: 3rem;
}

.movie-profile-card .profile-card{
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}