@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Donegal+One&display=swap');

.live-events {
  text-align: center;
  background-color: #003366;
}

.live-events-container {
  color: white;
}

h1 {
  font-family: 'DM Mono', monospace;
  color: #fff;
  font-size: 60px;
  font-family: 'Donegal One', serif;
}

.event-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.event {
  background-color: #003366;
  padding: 20px;
  text-align: center;
  width: 500px;
}

.event img {
  width: 100%;
  height: 500px;
  border-radius: 10px;
}

.watch-now {

  margin-top: 30px;
  margin-bottom: 30px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'DM Sans', sans-serif;
  background-color: #C69F93;
  color: #fff;
}

/* Responsive Styles */

@media (max-width: 768px) {
    h1 {
      font-size: 40px;
    }
  
    .event {
      width: 80%;
    }
  
    .event img {
      max-height: 300px;
    }
  }
  
  @media (max-width: 480px) {
    h1 {
      font-size: 30px;
    }
  
    .event {
      width: 100%;
    }
  
    .watch-now {
      padding: 10px;
      font-size: 16px;
    }
  }

  .popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .popup-box {
    background: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    max-width: 400px;
    width: 90%;
  }
  
  .close-popup {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #ff4d4f;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .close-popup:hover {
    background-color: #ff7875;
  }
  
