.admin-movie-management {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center items horizontally */
  }
  
  .movie-management-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center items horizontally */
  }
  
  .movie-card {
    position: relative; /* Ensure relative positioning for absolute centering */
    display: inline-block;
    text-align: center; /* Center content horizontally */
  }
  
  .stream-controls {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Center controls */
  }
  
  .details-form {
    width: 100%; /* Ensure form takes full width */
  }
  
  .upload-image {
    width: 100%; /* Ensure upload section takes full width */
  }
  
  .form-buttons {
    text-align: center; /* Center buttons horizontally */
    margin-top: 16px; /* Add margin for spacing */
  }
  
  .circular-button {
    margin-right: 8px; /* Add some spacing between buttons */
  }

  .centered-heading {
    text-align: center;
  }
  
  