@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Donegal+One&display=swap');

.checkout-container {
    padding: 20px;
    background-color: #003366;
}

.checkout-container .form-title {
    text-align: center;
    color: #fff;
    font-size: 50px;
    font-family: 'Donegal One', serif;
    font-weight: 200;
}

.details-card,
.cart-card {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.card-title {
    font-size: 24px;
    font-family: 'DM Mono', monospace;
    font-weight: 700;
    color: #003366;
}

.input-field,
.select-field {
    border-radius: 5px;
}

.details-card .ant-form-item-label>label {
    font-weight: bold;
    color: #595959;
}

.details-card .input-field {
    border-radius: 5px;
    background-color: #fff;
    color: black;
    width: 100%;
    height: 20px;
}

.cart-card p {
    margin: 5px 0;
    font-size: 16px;
    color: #333;
}

.cart-card .ant-typography {
    margin-top: 10px;
    display: block;
    font-size: 18px;
    color: #595959;
    font-weight: bold;
}

.movie h3 {
    font-size: 34px;
    margin-bottom: 20px;
    color: #333;
    font-weight: 600;
    position: relative;
    padding-bottom: 10px;
    margin-top: -40px;
}

.movie h3::after {
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    background: #007bff;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.secure-payment-description {
    background-color: #f7f9fc;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
    margin-bottom: 25px;
}

.secure-payment-description p {
    font-size: 18px;
    color: #555;
    margin-bottom: 20px;
}

.secure-payment-description h3 {
    font-size: 22px;
    font-weight: bold;
    color: #333;
    margin-bottom: 15px;
}

.secure-payment-description img {
    max-width: 70px;
    margin: 0 20px;
    vertical-align: middle;
}

@media (max-width: 768px) {
    .checkout-container .form-title {
        font-size: 40px;
    }

    .details-card,
    .cart-card {
        margin-bottom: 20px;
        padding: 15px;
    }

    .card-title {
        font-size: 20px;
    }

    .movie h3 {
        font-size: 28px;
    }

    .movie h3::after {
        height: 3px;
    }

    .checkout-container .ant-row {
        flex-direction: column;
    }

    .checkout-container .ant-col {
        width: 100%;
    }

    .details-card .input-field {
        height: 40px;
    }

    .checkout-container .ant-form-item-label > label {
        font-size: 16px;
    }

    .cart-card p {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .checkout-container .form-title {
        font-size: 30px;
    }

    .details-card
    {
        padding: 10px;
        width: 150%;
    }

    .cart-card{
        min-width: 380px;
    }

    .card-title {
        font-size: 18px;
    }

    .movie h3 {
        font-size: 24px;
    }

    .checkout-container .ant-form-item-label > label {
        font-size: 14px;
    }

    .checkout-container .ant-row {
        padding: 0;
    }
}