 @import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

 .navbar {
  font-family: 'DM Sans', sans-serif;
  width: 100%; 
  background-color: #20448A;
  padding: 1px; 
  position: relative;
  top: 0;
  z-index: 1000;
}

.navbar-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  color: #ffffff;
}

.navbar-links_logo img {
  display: flex;
  width: 200px; 
}

.navbar-links-container {
  display: flex;
  justify-content: center; 
  flex-grow: 1;
}

.navLists {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: center; 
}

.navItem {
  margin-top: 10px;  
  font-family: 'DM Sans', sans-serif;
  margin-left: 50px; 
  font-size: 20px; 
  font-weight: bold;
  cursor: pointer;
}

.navItem:hover,
.navItem.active {
  color: #D8FB05; 
}

.navItem:first-child {
  margin-left: 0;
}

.signin-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-grow: 0; 
}

.signin {
  margin-right: 20px;
  font-family: 'DM Sans', sans-serif;
  margin-top: 10px; 
  display: flex;
  align-items: center;
  color: white;
  text-decoration: none;
  font-size: 20px; 
  transition: color 0.3s ease-in-out;
}

.signin p {
  margin: 0;
  display: flex;
  align-items: center;
}

.icon {
  margin-right: 25px; 
  font-size: 40px;
}

/* Responsive Design */


@media screen and (max-width: 768px) {
  .navbar-links {
    flex-direction: column;
  }

  .navbar-links_logo img {
    margin-bottom: 10px;
  }

  .navLists {
    flex-direction: column;
  }

  .navItem {
    margin-left: 0;
    margin-bottom: 10px;
  }

  .signin-container {
    justify-content: center; 
    padding-bottom: 20px;
  }
} 
