@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

.ant-layout {
  overflow-y: auto;
  height: 100vh;
}

.navbar {
  font-family: 'DM Sans', sans-serif;
  width: 100%; 
  background-color: #20448A;
  padding: 1px; 
  position: relative;
  top: 0;
  z-index: 1000;
}

.navbar-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  color: #ffffff;
}

.navbar-links_logo img {
  display: flex;
  width: 200px; 
}

.navbar-links-container {
  display: flex;
  justify-content: center; 
  flex-grow: 1;
}

.navLists {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: center; 
}

.navItem {
  position: relative;
  margin-top: 10px;  
  font-family: 'DM Sans', sans-serif;
  margin-left: 50px; 
  font-size: 20px; 
  font-weight: bold;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}

.navItem:hover {
  color: #D8FB05;
}

.navItem.active {
  color: #ffffff;
}

.navItem:first-child {
  margin-left: 0;
}

.subNavLists {
  position: absolute;
  left: 0;
  top: 100%;
  background-color: #305496;
  display: none;
  list-style: none;
  padding: 10px 0;
  margin: 0;
  z-index: 1000;
  border-radius: 10px;
}

.navItem.active .subNavLists {
  display: block;
}

.subNavItem {
  padding: 8px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}

.subNavItem:hover {
  color: #D8FB05;
}

.subNavItem.active {
  color: #ffffff;
}

.navbar-sign {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px; 
}

.sign {
  color: #ffffff;
  font-size: 25px;
  font-family: 'DM Sans', sans-serif;
  font-weight: bold;
  cursor: pointer;
  padding: 5px 15px;
  border-radius: 10px;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.sign:hover {
  color: #305496;
  background-color: #ffffff;
}

.logout-container {
  padding: 5px;
  text-align: center;
  margin-top: 20px;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
}

.logo img {
  width: 100px;
}

.logout-container {
  position: absolute;
  bottom: 60px;
  width: 100%;
  text-align: center;
}

.logout-container .anticon-logout {
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}