@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
}


.topic h1{
  margin-top: 50px;
  font-size: 55px;
  color: #b0b0b0;
  margin-bottom: 5vh;
}

.des h1 {
  font-size: 28px;
  line-height: 64px;
  color: #b0b0b0;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.section-p1 {
  padding: 40px 80px;
}

.section-p1 .Carousel{
  margin-top: 10vh;
}

.product1{
  text-align: center;
}

.product1 .pro-container{
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  flex-wrap: wrap;
}

.product1 .pro{
  width: 23%;
  min-width: 250px;
  padding: 1vw 2vh;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
  margin: 3vw 1vh;
  transition: 0.2s ease;
  position: relative;
}

.product1 .pro:hover{
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
  border: 0.4px solid #a0a2a0;
  transform: scale(1.06);
}

.product1 .Carousel{
  margin-top: 13vh;
}

.product1 .pro img{
  width: 100%;
  height: 50vh;
  border-radius: 20px;
}

.product1 .pro .des{
  text-align: center;
  padding: 10px 0; 
}

.product1 .pro .des span{
  color: #606063;
  font-size: 12px;
}

.product1 .pro .des h5{
  padding-top: 7px;
  color: #b4b4b4;
  font-size: 16px;
}

.product1 .pro .des i{
  font-size: 12px;
  color: rgb(243,181,25);
}


.product1 .pro .des h4 .single-pro-details select{
  display: block;
  padding: 5px 10px;
  margin-bottom: 10px;
}

.btn-two{
    display: flex;
    justify-content: space-around;
    margin-top: 4vh;
}

.btn-watch button{
    padding: 5px 5px;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    left: 1153px;
    top: 55px;
    background: #746967;
    border-radius: 5px;
    border: 0;
    outline: none;
    cursor: pointer;
}

.btn-book button{
    padding: 5px 5px;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    left: 1153px;
    top: 55px;
    background: #cf3b19;
    border-radius: 5px;
    border: 0;
    outline: none;
    cursor: pointer;
}

.prodetails{
  display: flex;
  margin-top: 20px;
}

.prodetails .single-pro-image{
  width: 40%;
  margin-right: 50px;
}


/*=======================================================Screens===================================================================*/
@media (max-width:1050px){
  .section-p1 {
    padding: 40px 40px;
  }

  .topic h1{
    margin-top: 7vh;
    font-size: 50px;
  }
  
  .product1 .pro{
    width: 60vw;
    height: 80vh;
    margin: 15px;
  }

  .product1 .pro:hover{
    transform: scale(1.1);
    height: 75vh;
    margin-bottom: 6vh;
  }

  .product1 .pro-container {
    justify-content: center;
  }

  .pro img{
    margin-bottom: 4vh;
  }

  .des h1{
    font-size: 55px;
  }
  
  .product1 .Carousel{
    margin-top: 8vh;
    width: 100%;
  }
}

@media (max-width:799px){
  .section-p1 {
    padding: 40px 40px;
  }

  .topic h1{
    margin-top: 0;
    font-size: 33px;
  }
  
  .product1 .pro{
    width: 60px;
    height: 100%;
    margin: 15px;
  }

  .des h1{
    font-size: 30px;
  }

  .product1 .pro:hover{
    transform: scale(1.1);
    height: 75vh;
    margin-bottom: 80px;
  }

  .product1 .pro-container {
    justify-content: center;
  }

  .product1 .Carousel{
    margin-top: 20px;
    width: 100%;
  }
}

@media (max-width: 477px){
  .section-p1 {
    padding: 20px;
  }

  h2 {
    font-size: 32px;
  }

  .des h1{
    font-size: 42px;
  }

  h1 {
    font-size: 38px;
  }

  .product1 .pro {
    width: 100%;
  }

  footer .copyright {
    text-align: start;
  }
  .product1 .pro img{
    margin-bottom: 12px;
  }

  .product1 .pro:hover{
    transform: scale(1.1);
    height: 77vh;
    margin-bottom: 90px;
  }
}

@media (max-width: 400px){
  .section-p1 {
    padding: 20px;
  }

  h2 {
    font-size: 32px;
  }

  .des h1{
    font-size: 38px;
  }

  h1 {
    font-size: 38px;
  }

  .product1 .pro {
    width: 100%;
  }

  footer .copyright {
    text-align: start;
  }
  .product1 .pro img{
    margin-bottom: 0px;
  }

  .product1 .pro:hover{
    transform: scale(1.1);
    height: 75vh;
    margin-bottom: 90px;
  }

  .last h1{
    margin-top: 8vh;
  }
}

@media (max-width: 377px){
  .section-p1 {
    padding: 20px;
  }

  h2 {
    font-size: 32px;
  }

  .des h1{
    font-size: 28px;
  }

  h1 {
    font-size: 38px;
  }

  .product1 .pro {
    width: 100%;
  }

  footer .copyright {
    text-align: start;
  }
  .product1 .pro img{
    margin-bottom: 0px;
  }

  .product1 .pro:hover{
    transform: scale(1.1);
    height: 80vh;
    margin-bottom: 90px;
  }
  .last h1{
    margin-top: 11vh;
  }
}