/* TermsAndConditions.css */

.terms-and-conditions-section {
    background-color: #f9f9f9;
    min-height: 100vh;
  }
  
  .terms-and-conditions-content {
    max-width: 1800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #0047ab;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  
  .terms-and-conditions-title {
    text-align: center;
    font-weight: bold;
    margin-bottom: 16px;
    color: white; /* White text color */
  }
  
  .terms-and-conditions-paragraph {
    text-align: justify;
    line-height: 1.8;
    color: #ffffff; /* White text color */
  }
  
  .terms-and-conditions-divider {
    margin: 20px 0;
    color: #ffffff; /* White text color */
  }
  
  .terms-and-conditions-subtitle {
    font-size: 1.5em;
    margin-top: 20px;
    color: #ffffff; /* White text color */
  }
  
  .terms-and-conditions-italic {
    text-align: center;
    font-style: italic;
    margin-top: 10px;
    color: #ffffff; /* White text color */
  }
  