@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');
.footer{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: radial-gradient(circle at 3% 25%, rgba(255, 255, 0, 1) 0%, rgb(51, 51, 55) 0%, rgb(4, 4, 4) 100%);
}

.footer-heading{
    width: 100%;
    text-align: center;
    margin-bottom: 3rem;
    margin-top: 3rem;
}

.footer-heading h1{
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 50px;
    line-height: 75px;
    text-align: center;
    letter-spacing: -0.04em;
    color: var(--gradient-bar);
}

.footer-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border: 1px solid #fff;
    text-align: center;
    margin-bottom: 15vh;
    cursor: pointer;
}

.footer-btn p{
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    line-height: 21px;
    color: white;
    word-spacing: 2px;
}

.footer-links{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
    width: 90%;
    text-align: center;
}

.footer-links div{
    width: 250px;
    margin: 1rem;
}

.footer-links_logo{
    display: flex;
    flex-direction: column;
    }

.footer-links_logo img{
    width: 118px;
    height: 30px;
    margin-bottom: 1rem;
}

.footer-link_div{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.footer-link_div h4{
    font-family: var(--font-family);
    font-size: 24px;
    line-height: 16px;
    color: #fff;
    margin-bottom: 2.5rem;
}

.footer-link_div p{
    font-family: var(--font-family);
    font-size: 15px;
    line-height: 14px;
    color: #fff;
    margin: 0.5rem 0;
    cursor: pointer; 
}

.footer-copyright{
    margin-top: 2rem;
    text-align: center;
    width: 100%;
}

.footer-copyright p{
    font-family: var(--font-family);
    font-size: 15px;
    line-height: 14px;
    color: #fff;
    margin-bottom: 5vh;
}

/* Responsive styles */

@media screen and (max-width: 850px) {
    .footer-heading h1 {
        font-size: 44px;
        line-height: 50px;
    }
}

@media screen and (max-width: 550px) {
    .footer-heading h1 {
        font-size: 34px;
        line-height: 42px;
    }

    .footer-links div {
        margin: 1rem 0;
        width: 100%;
    }

    .footer-btn p {
        font-size: 14px;
        line-height: 20px;
    }
}

@media screen and (max-width: 415px) {
    .footer-heading h1 {
        font-size: 27px;
        line-height: 38px;
    }

    .footer-link_div h4 {
        margin-left: 0;
    }

    .footer-link_div p {
        margin-left: 0;
    }

    .footer-links_logo img {
        margin-left: 0;
    }
}