.movie-view {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f2f5;
  }
  
  .movie-view-container {
    background-color: #ffffff;
    padding: 30px 50px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
  }

  h2 {
    margin-bottom: 30px;
    font-size: 24px;
  }
  
  .code-input {
    background-color: #F5B7B1; 
    border: none;
    border-radius: 5px;
    padding: 10px;
  }

  .movie-view-container h2{

    text-align: center;
    padding-bottom: 20px;
    font-size: 35px;
  }
  
  .details-form .ant-form-item {
    margin-bottom: 20px;
  }
  
  .details-form .ant-input {
    height: 40px;
    border-radius: 5px;
    border: 1px solid #d9d9d9;
    padding: 0 15px;
  }
  
  .details-form .ant-form-item-label > label {
    font-weight: 600;
    color: #333333;
  }
  
  .details-form .ant-btn-primary {
    background-color: #20448A;
    border-color: #20448A;
    border-radius: 5px;
    width: 150px;
    height: 40px;
    font-size: 16px;
  }
  
  .details-form .ant-btn-primary:hover {
    background-color: #163b6e;
    border-color: #163b6e;
  }

  .movie-view-btn{
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }
  
  @media screen and (max-width: 768px) {
    .movie-view-container {
      padding: 20px 30px;
    }
  
    .details-form .ant-input {
      height: 35px;
    }
  
    .details-form .ant-btn-primary {
      height: 35px;
      font-size: 14px;
    }
  }
  