@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Donegal+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

.stream {
    text-align: center;
    background-color: #003366;
    padding: 20px;
  }
  
  .stream-container {
    color: white;
  }

  h1 {
    font-family: 'DM Mono', monospace;
    color: #fff;
    padding: 20px;
    font-size:50px;
    font-weight: 400;
  }
  
  .movie-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
  }
  
  .movie {
    padding: 20px;
    border-radius: 10px;
    text-align: center;
  }
  
  .movie img {
    width: 100%;
    height: 50%px;
    border-radius: 10px;
  }
  
  .movie h2 {
    font-family: 'Donegal One', serif;
    color: #fff;
    font-weight: 100;
    padding-top: 10px;
  }
  
  .movie p {
    padding-top: 10px;
    color: #ccc;
    font-family: 'DM Sans', sans-serif;
  }
  
  .buttons {
    margin-top: 10px;
  }
  
  .watch-trailer, .buy-tickets {
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .watch-trailer {
    background-color: #4B5A84;
    color: #fff;
  }
  
  .buy-tickets {
    background-color: #EA1313;
    color: #fff;
  }

  /* Responsive Styles */
  
@media (max-width: 768px) {
  h1 {
      font-size: 40px;
  }

  .movie {
      width: 80%;
  }

  .movie img {
      max-height: 300px;
  }

  .watch-trailer, .buy-tickets {
      padding: 10px;
      font-size: 14px;
  }
}

@media (max-width: 480px) {
  h1 {
      font-size: 30px;
  }

  .movie {
      width: 100%;
  }

  .watch-trailer, .buy-tickets {
      padding: 8px;
      font-size: 12px;
  }
}